.new_project_container {
  max-width: 450px;
  margin: 0 auto;
  padding: 3rem;
}

.new_project_container h1 {
  margin-bottom: .5rem;
  color:#4c1a5a;
  text-align: center;
}

.new_project_container p {
  color: #4c1a5a;
  text-align: left;
}