.project_container {
  padding: 2rem;
}

.project_container h1{
  color: #4c1a5a;
}

.title_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.title_container a {
  margin-right: 4.5rem;
}