.footer {
  background-color: #222;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social_list li {
  margin: 0 1rem;
}

.social_list li:hover {
  color: #ffe14d;
  cursor: pointer;
}

.social_list svg {
  font-size: 2rem;
}

.copy_right {
  margin-top: 1rem;
}

.copy_right spam {
  font-weight: bold;
  color:#ffe14d;
}