.btn {
  background-color: #ffe14d;
  color: #4e2a5a;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
}

.btn:hover {
  background-color: #4e2a5a;
  color: #ffe14d;
  transition: all .6s;
}