.message {
  width: 30%;
  padding: 1rem;
  border: 2px solid #4e2a5a;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.success {
 color:#155724;
 background-color: #d4edda;
 border-color: #c3e6cb;
}

.error {
  color:#721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}